version: 1
patterns:
- name: OCP
  source_id: ocp
  description: Schema สำหรับ OCP/Prometheus — Gen JSON ส่งให้ต้นทาง Map/Transform
    มาให้ตรง
  mappings:
  - source_path: status
    target_field: status
  - source_path: labels.alertname
    target_field: alertname
  - source_path: labels.severity
    target_field: severity
  - source_path: labels.instance
    target_field: instance
  - source_path: labels.namespace
    target_field: namespace
  - source_path: labels.pod
    target_field: pod
  - source_path: labels.job
    target_field: job
  - source_path: annotations.summary
    target_field: message
  - source_path: annotations.description
    target_field: description
  - source_path: startsAt
    target_field: timestamp
  - source_path: generatorURL
    target_field: generator_url
  enrich: null
- name: Confluent
  source_id: confluent
  description: Schema สำหรับ Confluent — Gen JSON ส่งให้ต้นทาง Map/Transform มาให้ตรง
  mappings:
  - source_path: alert_id
    target_field: alert_id
  - source_path: message
    target_field: message
  - source_path: severity
    target_field: severity
  - source_path: cluster_id
    target_field: cluster_id
  - source_path: timestamp
    target_field: timestamp
  enrich: null
- name: New-OCP-Pattern
  source_id: new-ocp-pattern
  description: null
  mappings:
  - source_path: trace_id
    target_field: trace_id
  - source_path: data.origin.cluster.id
    target_field: id
  - source_path: data.origin.cluster.region
    target_field: region
  - source_path: data.origin.source
    target_field: source
  - source_path: data.alert_details.0.meta.severity
    target_field: severity
  - source_path: data.alert_details.0.meta.event
    target_field: event
  - source_path: data.alert_details.0.meta.pod
    target_field: pod
  - source_path: data.alert_details.0.time
    target_field: time
  enrich: null
